---
import Header from "@/components/sections/Header.astro";

import "@fontsource/tenor-sans";
import "@fontsource-variable/inter";
import FloattingButton from "@/components/FloattingButton.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://invierteplural.com/">
    <meta name="keywords" content="Quilca – Camaná, comodidad, exclusividad, lotes, acceso directo a la playa, carretera costanera, impresionantes vistas, proyecto sobre terrazas, orillas del mar, manarola, Financiamiento directo, juegos para niños, zona de mascotas, servicio de agua y luz, zona de estacionamiento, área comercial, club house, parques, zona de fogatas y parrillas">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content="/images/terraza-1.avif">
    <meta name="og:image" content="/images/terraza-1.avif">
    <meta name="og:title" content={title}>
    <meta name="og:description" content={description}>
    <meta name="og:url" content="https://invierteplural.com/">
    <meta name="og:site_name" content="Manarola">
    <meta name="og:type" content="website">
    <meta name="og:locale" content="es_ES">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-white relative">
    <FloattingButton />
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: "Inter Variable", sans-serif;
    color: #7a7a7a;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Tenor Sans", sans-serif;
  }
</style>

<script>
  import ScrollReveal from "scrollreveal";
  ScrollReveal().reveal(".animation-bottom", {
    distance: "30px",
    duration: 1000,
    easing: "cubic-bezier(0.68, -0.55, 0.27, 1.55)",
    scale: 1,
    origin: "bottom",
    opacity: 0,
    reset: false,
  });
</script>

<!-- Meta Pixel Code -->
<script type="module">
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = "2.0";
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
  })(
    window,
    document,
    "script",
    "https://connect.facebook.net/en_US/fbevents.js"
  );
  fbq("init", "1142811207089339");
  fbq("track", "PageView");
</script>
<noscript
  ><img
    height="1"
    width="1"
    style="display:none"
    src="https://www.facebook.com/tr?id=1142811207089339&ev=PageView&noscript=1"
  /></noscript
>
<!-- End Meta Pixel Code -->

<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "n27ih5nm5d");
</script>